
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif ;
    color: #22D4FD;
    font-size: 24px;
    font-weight: 600;
}


.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 13%;
    
}

.text{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.title{
    font-size: 36px;
    font-family: krona system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 593;
}

.paragrafo{
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 36;
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.buttons h2{
    font-size: 24px;
    font-weight: 400;
    font-family: krona system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons a{
    display: flex;
    justify-content: center;
    gap: 16px;
    
    /* background-color: #22D4FD; */
    width: 338px;
    height: 39px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0;
    border: 2px solid #22D4FD;

}

.buttons a:hover{
    background-color: #272727;
    animation: 0.3s;
}

.rodape{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
}